################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Company-Management-tool-v2/FileContentIndex/1409d560-a3c6-47ae-9d58-24d5d1373231.vsidx
/.vs/Company-Management-tool-v2/FileContentIndex/340370c3-d7a9-44c0-974f-b16f5da5be05.vsidx
/.vs/Company-Management-tool-v2/FileContentIndex/468ab968-7a36-4dd9-ab8f-15c5aa4f965f.vsidx
/.vs/Company-Management-tool-v2/FileContentIndex/8d66edcf-e147-4fa5-9fcb-38e46c3887cd.vsidx
/.vs/Company-Management-tool-v2/FileContentIndex/d3f405d4-4139-4f3a-b051-06b92bad43cf.vsidx
