################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Company-Management-tool-v2/FileContentIndex/1409d560-a3c6-47ae-9d58-24d5d1373231.vsidx
/.vs/Company-Management-tool-v2/FileContentIndex/340370c3-d7a9-44c0-974f-b16f5da5be05.vsidx
/.vs/Company-Management-tool-v2/FileContentIndex/468ab968-7a36-4dd9-ab8f-15c5aa4f965f.vsidx
/.vs/Company-Management-tool-v2/FileContentIndex/8d66edcf-e147-4fa5-9fcb-38e46c3887cd.vsidx
/.vs/Company-Management-tool-v2/FileContentIndex/d3f405d4-4139-4f3a-b051-06b92bad43cf.vsidx
/.vs/Company-Management-tool-v2/FileContentIndex/5faf0383-900f-4c24-944a-04bfa2f0951c.vsidx
/.vs/Company-Management-tool-v2/FileContentIndex/69598060-c8fb-4a42-b1f9-11783e030344.vsidx
/.vs/Company-Management-tool-v2/FileContentIndex/7890d83f-5e60-483a-b63d-e07492f55d2f.vsidx
/.vs/Company-Management-tool-v2/FileContentIndex/ce835862-a251-4650-94fd-c214d7efd118.vsidx
/.vs/Company-Management-tool-v2/FileContentIndex/ee55f8a7-c239-4fd4-9e1a-3ce65cfb49f5.vsidx
/.vs/Company-Management-tool-v2/FileContentIndex/d2e6dfa8-69ce-4298-868a-3f232d4bb767.vsidx
*.vsidx
