@page
@model test.Pages.AboutModel
@{
    ViewData["Title"] = "About us - GBM";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
        }

        h2.section-title {
            text-align: center;
            color: #333;
            font-size: 30px;
            margin-top: 30px;
        }

        p {
            font-size: 20px;
            line-height: 1.6;
            color: #666;
        }

        h4.section-title {
            text-align: center;
            color: #555;
            font-size: 30px;
            margin-top: 50px;
        }
    </style>
</head>

<body>

    <div class="container">
        <h1 style="text-align: center;">
            <img src="/image/aboutus.jpg" class="img-fluid" alt="About us" style="max-width: 90%; height: auto;">
        </h1>
        <h2 class="section-title">About Us</h2>
        <p>Green Building Material Hong Kong Limited is committed to providing top-quality building materials that drive innovation and sustainability. With over 20 years of experience in the industry, we specialize in a wide range of products, including concrete, steel, and eco-friendly solutions. Our dedicated team ensures exceptional customer service, timely delivery, and competitive pricing. We partner with leading construction firms to build the future together, emphasizing durability and efficiency in every project.</p>
        <h4 class="section-title">Build to goal, Green in Building environment </h4>
    </div>
</body>




