@page
@model IndexModel
@{
    ViewData["Title"] = "Green Building Material Hong Kong Limited";
}

<div class="text-center">
    <h1>
    <img src="/image/image1.jpg" class="img-fluid" alt="GBM" style="max-width: 90%; height: auto;">
    <div style="position: absolute; top: 38%; left: 50%; transform: translate(-50%, -50%); color: lawngreen; font-size: 30px; padding: 20px;">
        Green Building Material Hong Kong Limited
    </div>
    </h1>
        <section id="content-1341" class="section section-wide section-sep">
            <div class="container">
                <h2 class="section-title">Our Products</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-3" data-mh="auto" style="height: 300px;">
                        <div class="thumbnail thumbnail-default thumbnail-video">
                            <div class="thumbnail-image">
                                <a href="/Product">
                                    <figure>
                                    <img loading="lazy" src="image/Plastering.png" width="300" height="200" alt="" class="lazyloaded" data-src=">
                                    </figure>
                                </a>
                            <div class="caption">
                                <h3><a style="color: #000; font-size: 16px;" href="Product">Plastering mortar</a></h3>
                                <p style="font-size: 14px;">High quality product designed for levelling, smoothing or fine-smoothing uneven surfaces before final treatment</p>
                                <p><a href="/Product" style="font-size: 12px;"><strong>More about Plastering mortar →</strong></a></p>
                                <p class="text-align-center"></p>
                        </div>
                    </div>
                    <!-- Repeat the above structure for the other product items -->
                </div>
                    <div class="col-sm-6 col-md-3" data-mh="auto" style="height: 300px;">
                    <div class="thumbnail thumbnail-default thumbnail-video">
                        <div class="thumbnail-image">
                            <a href="/Product">
                                <figure>
                                        <img loading="lazy" src="image/sealant.png" width="300" height="200" alt="" class="lazyloaded" data-src=">
                                </figure>
                            </a>
                            <div class="caption">
                                    <h3><a style="color: #000; font-size: 16px;" href="Product">Waterproof sealant</a></h3>
                                    <p style="font-size: 14px;">High quality watertight barrier on surfaces to prevent water from penetrating or leaking through</p>
                                    <p><a href="/Product" style="font-size: 12px;"><strong>More about Waterproof sealant →</strong></a></p>
                                <p class="text-align-center"></p>
                            </div>
                        </div>
                        <!-- Repeat the above structure for the other product items -->
                        </div>
                        <div class="col-sm-6 col-md-3" data-mh="auto" style="height: 300px;">
                            <div class="thumbnail thumbnail-default thumbnail-video">
                                <div class="thumbnail-image">
                                    <a href="/Product">
                                        <figure>
                                            <img loading="lazy" src="image/adhesives.png" width="300" height="200" alt="" class="lazyloaded" data-src=">
                                        </figure>
                                    </a>
                                    <div class="caption">
                                        <h3><a style="color: #000; font-size: 16px;" href="Product">Tile Fixing & Grouting</a></h3>
                                        <p style="font-size: 14px;">Innovative, easy-to-use, high performance tile adhesives, grouts, sealants and preparatory products</p>
                                        <p><a href="/Product" style="font-size: 12px;"><strong>More about Tile Adhesives →</strong></a></p>
                                        <p class="text-align-center"></p>
                                    </div>
                                </div>
                                <!-- Repeat the above structure for the other product items -->

                            </div>
                            <div class="col-sm-6 col-md-3" data-mh="auto" style="height: 300px;">
                                <div class="thumbnail thumbnail-default thumbnail-video">
                                    <div class="thumbnail-image">
                                        <a href="/Product">
                                            <figure>
                                                <img loading="lazy" src="image/mortar.png" width="300" height="200" alt="" class="lazyloaded" data-src=">
                                            </figure>
                                        </a>
                                        <div class="caption">
                                            <h3><a style="color: #000; font-size: 16px;" href="Product">Mortar</a></h3>
                                            <p style="font-size: 14px;">High-strength mortar used for load-bearing walls and below-grade applications.</p>
                                            <p><a href="/Product" style="font-size: 12px;"><strong>More about Mortar →</strong></a></p>
                                            <p class="text-align-center"></p>
                                        </div>
                                    </div>
                                    <!-- Repeat the above structure for the other product items -->

                                </div>
                    </div>

                </div>

            </div>
        </section>

    <body>
            

    </body>

</div>
