@page
@model test.Pages.OrderModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Auto Load</title>
    <script type="text/javascript">
        window.onload = function() {
            window.location.href = "http://localhost";
        };
    </script>
</head>
<body>
    <h1>Redirecting...</h1>
</body>
</html>
