@page
@model test.Pages.ProductModel
@{
}
<div class="text-center">
    <h1>
    </h1>
    <section id="content-1341" class="section section-wide section-sep">
        <div class="container">
            <h2 class="section-title">Our Products</h2>
            <p style="font-size: 24px;">Mortar</p>
            <div class="row">
                <div class="col-sm-6 col-md-3" data-mh="auto" style="height: 300px;">
                    <div class="thumbnail thumbnail-default thumbnail-video">
                        <div class="thumbnail-image">
                            <a href="/Product">
                                <figure>
                                    <img loading="lazy" src="image/P1.png" width="150" height="230" alt="" class="lazyloaded" data-src=">
                                </figure>
                            </a>
                            <div class="caption">
                                <h3><a style="color: #000; font-size: 16px;" href="">Green Build - Ascolite Mix Mortar - 40KG </a></h3>
                                <p style="font-size: 14px;">Ascolite Mix Mortar is a high quality product designed for levelling, smoothing or fine-smoothing uneven surfaces before final treatment</p>
                                <p class="text-align-center"></p>
                            </div>
                        </div>
                        <!-- Repeat the above structure for the other product items -->
                    </div>
                    <div class="col-sm-6 col-md-3" data-mh="auto" style="height: 300px;">
                        <div class="thumbnail thumbnail-default thumbnail-video">
                            <div class="thumbnail-image">
                                <a href="/Product">
                                    <figure>
                                        <img loading="lazy" src="image/P1.png" width="150" height="230" alt="" class="lazyloaded" data-src=">
                                    </figure>
                                </a>
                                <div class="caption">
                                    <h3><a style="color: #000; font-size: 16px;" href="">Green Build - Ascolite Mix Mortar XS - 40 XG </a></h3>
                                    <p style="font-size: 14px;">Ascolite Mix Mortar XS is a high quality watertight barrier on surfaces to prevent water from penetrating or leaking through, special for APA area</p>
                                    <p class="text-align-center"></p>
                                </div>
                            </div>
                            <!-- Repeat the above structure for the other product items -->
                        </div>
                        <div class="col-sm-6 col-md-3" data-mh="auto" style="height: 300px;">
                            <div class="thumbnail thumbnail-default thumbnail-video">
                                <div class="thumbnail-image">
                                    <a href="/Product">
                                        <figure>
                                            <img loading="lazy" src="image/P2.png" width="150" height="230" alt="" class="lazyloaded" data-src=">
                                        </figure>
                                    </a>
                                    <div class="caption">
                                        <h3><a style="color: #000; font-size: 16px;" href="Product">Keraflex SG Mortar - 20KG </a></h3>
                                        <p style="font-size: 14px;">Keraflex SG Mortar  is a low formaldehyde watertight barrier on surfaces to prevent water from penetrating or leaking through</p>
                                        <p class="text-align-center"></p>
                                    </div>
                                </div>
                                <!-- Repeat the above structure for the other product items -->

                            </div>
                            <div class="col-sm-6 col-md-3" data-mh="auto" style="height: 300px;">
                                <div class="thumbnail thumbnail-default thumbnail-video">
                                    <div class="thumbnail-image">
                                        <a href="/Product">
                                            <figure>
                                                <img loading="lazy" src="image/P3.png" width="150" height="230" alt="" class="lazyloaded" data-src=">
                                            </figure>
                                        </a>
                                        <div class="caption">
                                            <h3><a style="color: #000; font-size: 16px;" href="Product">RI-BOND Chemicals 40KG</a></h3>
                                            <p style="font-size: 14px;">RI-BOND Chemicals 40KG (OEM by GBM) is a environment friendly watertight barrier on surfaces to prevent water from penetrating or leaking through</p>

                                            <p class="text-align-center"></p>
                                        </div>
                                    </div>
                                    <!-- Repeat the above structure for the other product items -->

                                </div>
                            </div>

                        </div>

                    </div>
    </section>

    <body>


    </body>

</div>
